<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Itaya - Login</title>

    <link rel="stylesheet" type="text/css" href="ext/resources/css/ext-all-neptune.css">

    <script type="text/javascript" src="ext/ext-all-dev.js"></script>
   
</head>
<body>
<script type="text/javascript">
    Ext.onReady(function(){
        Ext.create('Ext.window.Window', {
            title: 'Login to Itaya',
            height: 290,
            width: 480,
            layout: 'fit',
            html: 'login form here...'
        }).show();
    });
</script>
</body>
</html>